<!DOCTYPE html>
<html>
<head>
  <title>Любимые мультфильмы Саши</title>
  <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <header>
      <h1>Любимые мультфильмы Саши</h1>
    </header>
    <div class="container">
      <%= yield %>
    </div>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>


</html>
